{% extends 'base.html.twig' %}

{% block title %}Bâtiment & Travaux Public - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
    <div class="section-banner" style="background-image:url(images/about-mainimg.png);"></div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">Bâtiment & Travaux Public</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">Bâtiment & Travaux Public</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-single-post">
                    <div class="post-image">
                        <img src="{{ asset('images/services/slide_Batiment.png') }}" alt="image">

                    </div><!-- /post-image -->
                    <div class="blog-detail">
                        <h4>BATIMENT & TRAVAUX PUBLICS</h4>
                        <p>
                            <ul>
                                <li>
                                        ETUDE DES PROJETS ;
                                </li>
                                <li>
                                        REALISATION DES GROS OEUVRES ;
                                        <ul>
                                            <li>
                                                    La réhabilitation :
                                                <ul>
                                                    <li>Rénovation ;</li>
                                                    <li>Transformation de locaux ;</li>
                                                    <li>Réaménagement d’espace ;</li>
                                                    <li>Ravalement traditionnel et enduits spéciaux.</li>
                                                </ul>
                                            </li>
                                            <li>
                                                    Le renforcement de structure :
                                                <ul>
                                                    <li>Fondations ;</li>
                                                    <li>Reprises en sous œuvre ;</li>
                                                    <li>Renforcement de planchers ;</li>
                                                    <li>Modification des systèmes porteurs (murs, portiques) ;</li>
                                                    <li>
                                                            Traitement des pathologies des façades ;
                                                    </li>
                                                    <li>
                                                            Mesures conservatoires pour ouvrages en péril.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                    Les constructions neuves :
                                                <ul>
                                                    <li>Immeubles d’habitation ;</li>
                                                    <li>Bâtiments industriels ;</li>
                                                    <li>Bureaux ;</li>
                                                    <li>Génie civil (Piscines, ouvrages hydrauliques, murs de soutènement, …).</li>
                                                </ul>
                                            </li>
                                        </ul>
                                </li>
                                <li>
                                        AMÉNAGEMENT ET CRÉATION DES ROUTES ET DES VOIES D'ACCES .
                                </li>
                            </ul>
                        </p>

                    </div>
                </div><!-- /blog-single-post -->

            </div>

        </div>
    </div>
</section><!-- /content-wrap -->
{% endblock %}