{% extends 'base.html.twig' %}

{% block title %}Électricité - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
    <div class="section-banner" style="background-image:url({{ asset('images/about-mainimg.png') }});"></div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">Électricité</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">Électricité</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-single-post">
                    <div class="post-image">
                        <img src="{{ asset('images/services/service-electricite.jpg') }}" alt="image">

                    </div><!-- /post-image -->
                    <div class="blog-detail">
                        <p>
                            <ul>
                                <li>
                                    Installation industrielle & Domestique en "Courant fort et courant faible" :

                                    <p>
                                        Nos équipes interviennent sur du bâtiment collectif mais également dans la
                                        maison individuelle, le tertiaire et cellules de bureaux. D’autres, plus
                                        spécialisées en rénovation, évoluent dans ce domaine.
                                        Nous faisons des mises en conformité dans l’ancien, mais également des mises aux
                                        normes complètes d’appartement ou de maison
                                    </p>

                                </li>
                                <li>
                                    Installations des générateurs toutes capacités ;

                                </li>
                                <li>
                                    Protection électrique contre les surtensions et la foudre ;

                                </li>
                                <li>
                                    Mise à la terre ;

                                </li>
                                <li>
                                    Etude et réalisation pour installation de système solaire toutes dimensions ;

                                </li>
                                <li>
                                    Maintenance.

                                </li>
                            </ul>


                        </p>

                    </div>
                </div><!-- /blog-single-post -->

            </div>

        </div>
    </div>
</section><!-- /content-wrap -->
{% endblock %}