{% extends 'base.html.twig' %}

{% block body %}

<section>
    <div class="home-banner home-banner-2 home-slider owl-carousel">

        <div class="item">
            <div class="sliderimg" style="background-image:url(images/background-03.jpeg);"></div>
            <div class="banner-container">
                <div class="banner">
                    <div class="banner-content">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-10 col-lg-9 col-md-push-2  col-lg-push-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="home-2-banner-content">
                                                <h4><span class="text-secondary">CLOISONNEMENT</span> DE BUREAU</h4>
                                                <h2>OPTIMISEZ<span class="text-secondary"></span> L'ESPACE DE TRAVAIL DE
                                                    VOTRE ENTREPRISE</h2>
                                                <p>VOUS ETES AU BON ENDROIT POUR DONNER UN NOUVEL ELAN A VOTRE
                                                    ENTREPRISE</p>
                                            </div><!-- /home-2-banner-content -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="appointment-form-block">
                                                <div class="form-heading">
                                                    <h3>FAITES VOUS RAPPELER</h3>
                                                    Disponible 24h/24-7j/7
                                                </div><!-- /form-heading -->
                                                <div class="appoint-form-2">
                                                    <form action="#" name="appointmentform" method="post">
                                                        <div class="form-inner-2">
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Name"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Téléphone"
                                                                    class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="select-box">
                                                                    <select name="dropdown">
                                                                        <option value="Volvo">Bâtiment & Travaux Public
                                                                        </option>
                                                                        <option value="3000">Télécommunication</option>
                                                                        <option value="4000">Électricité</option>
                                                                        <option value="4000">Fournitures diverses
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea placeholder="Description" rows="3" cols="10"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <input type="submit" class="btn btn-secondary"
                                                            value="CONFIRMER">
                                                    </form>
                                                </div><!-- /appoint-form-2 -->
                                            </div><!-- /appointment-form-block -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /banner-content -->
                </div><!-- /banner -->
            </div>
        </div>
        <div class="item">
            <div class="sliderimg" style="background-image:url(images/background-01.jpeg);"></div>
            <div class="banner-container">
                <div class="banner">
                    <div class="banner-content">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-10 col-lg-9 col-md-push-2  col-lg-push-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="home-2-banner-content">
                                                <h4><span class="text-secondary">REHABILITATION</span> DE VOTRE DOMICILE
                                                </h4>
                                                <h2>NOUS <span class="text-secondary">DONNONS</span> LE MEILLEUR SERVICE
                                                    POSSIBLE</h2>
                                                <p>S'ASSURER QUE VOUS BENEFICIEZ D'UNE RENOVATION A LA HAUTEUR DE VOS
                                                    ATTENTES</p>
                                            </div><!-- /home-2-banner-content -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="appointment-form-block">
                                                <div class="form-heading">
                                                    <h3>FAITES VOUS RAPPELER</h3>
                                                    Disponible 24h/24-7j/7
                                                </div><!-- /form-heading -->
                                                <div class="appoint-form-2">
                                                    <form action="#" name="appointmentform" method="post">
                                                        <div class="form-inner-2">
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Nom"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Téléphone"
                                                                    class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="select-box">
                                                                    <select name="dropdown">
                                                                        <option value="Volvo">Bâtiment & Travaux Public
                                                                        </option>
                                                                        <option value="3000">Télécommunication</option>
                                                                        <option value="4000">Électricité</option>
                                                                        <option value="4000">Fournitures diverses
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea placeholder="Description" rows="3" cols="10"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <input type="submit" class="btn btn-secondary" value="Envoyez">
                                                    </form>
                                                </div><!-- /appoint-form-2 -->
                                            </div><!-- /appointment-form-block -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /banner-content -->
                </div><!-- /banner -->
            </div>
        </div>


    </div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Nos experts sont disponibles pour vous conseiller ! Contactez-nous ! Nos conseils sont
                            gratuit !</h4>
                    </div>
                    <div class="col-sm-4 text-right-md">
                        <a href="#" class="btn btn-primary">Contactez-nous par email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-gray-gradient">
    <div class="container">
        <div class="section-heading">
            <h2>QUE FAISONS-NOUS</h2>
            <p>Resti-tech est une société de prestations des services situé à Bépanda face Direction CAMTEL
            </p>
        </div>
        <div class="section-detail">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="images/service1-batiment.jpeg" class="img-responsive" alt="image">
                            <div class="service-detail">
                                <p> Étude et conception des plans - Réalisation des gros œuvres 
                                </p>
                                <a href="#" class="btn btn-secondary">En savoir plus</a>
                            </div>
                        </div>
                        <div class="service-name-2">
                            <h5><a href="#">Bâtiment & Travaux Public
                                    <span class="iconic"><i class="icon-home5"></i></span>
                                </a></h5>
                        </div>
                    </div><!-- /service-box -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="images/service-2-telecommunication.jpeg" class="img-responsive" alt="image">
                            <div class="service-detail">
                                <p>Construction des sites GSM & CDMA clef en main
                                </p>
                                <a href="#" class="btn btn-secondary">En savoir plus</a>
                            </div>
                        </div>
                        <div class="service-name-2">
                            <h5><a href="#">Télécommunication
                                    <span class="iconic"><i class="icon-signal-cellular-4-bar"></i></span>
                                </a></h5>
                        </div>
                    </div><!-- /service-box -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img src="images/service3-electricite.jpeg" class="img-responsive" alt="image">
                            <div class="service-detail">
                                <p>Installation industrielle & Domestique</p>
                                <a href="#" class="btn btn-secondary">En savoir plus</a>
                            </div>
                        </div>
                        <div class="service-name-2">
                            <h5><a href="#">Électricité
                                    <span class="iconic"><i class="icon-power"></i></span>
                                </a></h5>
                        </div>
                    </div><!-- /service-box -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="section-heading">
            <h2>POURQUOI NOUS CHOISIR ?</h2>
            <p>CINQ RAISONS FONDAMENTALES POUR NOUS CHOISIR !
            </p>
        </div>
        <div class="">
            <div class="tab-section">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="tab">
                            <ul class="nav nav-stacked">
                                <li class="active">
                                    <a href="#about" data-toggle="tab" aria-expanded="true">
                                        <span class="curve"><i class="icon-loyalty"></i></span>
                                        <span class="curve-text">L'ENGAGEMENT</span>
                                    </a>
                                </li>
                                <li><a data-toggle="tab" href="#service"><span class="curve"><i
                                                class="icon-verified-user"></i></span><span class="curve-text">
                                            Le Professionnalisme
                                        </span></a></li>
                                <li><a data-toggle="tab" href="#offers"><span class="curve"><i
                                                class="icon-new-releases"></i></span><span class="curve-text">La
                                            Flexibilité
                                        </span></a></li>
                                <li><a data-toggle="tab" href="#dynamisme"><span class="curve"><i
                                                class="icon-star-o"></i></span><span class="curve-text">Le Dynamisme
                                        </span></a></li>
                                <li><a data-toggle="tab" href="#delivery"><span class="curve"><i
                                                class="icon-like"></i></span><span class="curve-text">Le Respect des
                                            délais

                                        </span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <div class="tab-content">
                            <div id="about" class="tab-pane fade in active">
                                <h4>L'ENGAGEMENT</h4>
                                <p>Etant dans un monde où la technologie est devenu un élément incontournable, nous
                                    constatons que l’Afrique s’est longtemps trouvé à la traîne des investissements et
                                    capacités technologiques, bloquant par le fait même son avenir. Cette situation a
                                    longtemps fait le lit d’une consommation et d’un entreprenariat extravertis.
                                </p>

                            </div>
                            <div id="service" class="tab-pane fade">
                                <h4>Le Professionnalisme</h4>
                                <p>Notre expérience parle d'elle même à travers nos actes.</p>

                            </div>
                            <div id="offers" class="tab-pane fade">
                                <h4>La Flexibilité</h4>
                                <p>Le but n'étant pas de vous fournir un rendu mais de vous fournir un rendu qui vous
                                    convienne.
                                    La communication est notre lance.</p>
                            </div>
                            <div id="dynamisme" class="tab-pane fade">
                                <h4>Le Dynamisme</h4>
                                <p> Notre équipe est composé d'ingénieurs passionnés par leur métier.
                                    Motivé chaque jour et toujours à votre écoute, il s'efforce toujours au mieux de
                                    réagir rapidement et efficacement dans toute situation.
                                </p>
                            </div>
                            <div id="delivery" class="tab-pane fade">
                                <h4>Le Respect des délais</h4>
                                <p>Parceque la gestion d'un projet est un point essentiel dans la réussite de celui-ci,
                                    nous nous appliquons
                                    toujours à fournir un service aussi efficace que rapide en respectant nos
                                    prévisions.

                                    Parceque nous aussi sommes une entreprise, nous avons connaissance de l'impact d'un
                                    retard ou d'un manquement d'un livrable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-1">
                        <div class="offer-img"> <img src="images/service-man-2.png" class="img-responsive" alt="image">
                        </div>
                    </div>
                </div>
            </div><!-- /tab-section -->

        </div>
    </div>
</section>
<section class="bg-gallery clearfix">
    <div class="container">
        <div class="section-heading">
            <h2>GALLERIE CHANTIERS</h2>
            <p>Quelques images de notre équipe en pleine action</p>
        </div>
    </div>
    <div id="aluminium" class="section-detail no-padding-bottom">
        <div class="gallery-container">
            <div class="gallery car">
                <div class="gallery-hovered">
                    <div class="gallery-img">
                        <img src="images/gallerie/aluminium_staf/4.jpg" class="img-responsive" alt="image">
                        <a href="#aluminium" class="gallery-link"></a>
                        <div class="image-hover">
                            <a href="images/gallerie/aluminium_staf/4.jpg" class="gallery-search"></a>
                            <a href="images/gallerie/aluminium_staf/2.jpg"></a>
                            <a href="images/gallerie/aluminium_staf/3.jpg"></a>
                            <a href="images/gallerie/aluminium_staf/5.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="working-name">
                    <h5>Aluminium et Staff</h5>
                    <p>Travaux</p>
                </div>
            </div>
            <div id="cloison" class="gallery car polishing">
                <div class="gallery-hovered">
                    <div class="gallery-img">
                        <img src="images/gallerie/cloison_bureau/1.jpg" class="img-responsive" alt="image">
                        <a href="#cloison" class="gallery-link"></a>
                        <div class="image-hover">
                            <a href="images/gallerie/cloison_bureau/1.jpg" class="gallery-search"></a>
                            <a href="images/gallerie/cloison_bureau/2.jpg"></a>
                            <a href="images/gallerie/cloison_bureau/3.jpg"></a>
                            <a href="images/gallerie/cloison_bureau/4.jpg"></a>
                            <a href="images/gallerie/cloison_bureau/5.jpg"></a>
                            <a href="images/gallerie/cloison_bureau/6.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="working-name">
                    <h5>Cloison de bureau</h5>
                    <p>Travaux</p>
                </div>
            </div>
            <div id="rehabilitation-avant" class="gallery glassing">
                <div class="gallery-hovered">
                    <div class="gallery-img">
                        <img src="images/gallerie/rehabilitation/avant/3.jpg" class="img-responsive" alt="image">
                        <a href="#rehabilitation-avant" class="gallery-link"></a>
                        <div class="image-hover">
                            <a href="images/gallerie/rehabilitation/avant/3.jpg" class="gallery-search"></a>
                            <a href="images/gallerie/rehabilitation/avant/2.jpg"></a>
                            <a href="images/gallerie/rehabilitation/avant/4.jpg"></a>
                            <a href="images/gallerie/rehabilitation/avant/5.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="working-name">
                    <h5>Réhabilitation</h5>
                    <p>Avant</p>
                </div>
            </div>
            <div id="rehabilitation-pendant" class="gallery car">
                <div class="gallery-hovered">
                    <div class="gallery-img">
                        <img src="images/gallerie/rehabilitation/pendant/1.jpg" class="img-responsive" alt="image">
                        <a href="#rehabilitation-pendant" class="gallery-link"></a>
                        <div class="image-hover">
                            <a href="images/gallerie/rehabilitation/pendant/1.jpg" class="gallery-search"></a>
                            <a href="images/gallerie/rehabilitation/pendant/2.jpg"></a>
                            <a href="images/gallerie/rehabilitation/pendant/3.jpg"></a>
                            <a href="images/gallerie/rehabilitation/pendant/4.jpg"></a>
                            <a href="images/gallerie/rehabilitation/pendant/5.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="working-name">
                    <h5>Réhabilitation</h5>
                    <p>Pendant</p>
                </div>
            </div>
            <div id="rehabilitation-apres" class="gallery polishing">
                <div class="gallery-hovered">
                    <div class="gallery-img">
                        <img src="images/gallerie/rehabilitation/apres/2.jpg" class="img-responsive" alt="image">
                        <a href="#rehabilitation-apres" class="gallery-link"></a>
                        <div class="image-hover">
                            <a href="images/gallerie/rehabilitation/apres/2.jpg" class="gallery-search"></a>
                            <a href="images/gallerie/rehabilitation/apres/5.jpg"></a>
                            <a href="images/gallerie/rehabilitation/apres/3.jpg"></a>
                            <a href="images/gallerie/rehabilitation/apres/4.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="working-name">
                    <h5>Réhabilitation</h5>
                    <p>Après</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>
    <div class="container">
        <div class="partners">
            <div class="section-heading">
                <h2>PARTENAIRES</h2>
            </div>
            <div class="section-detail">
                <div class="brands-section">
                    <div class="brands-controls">
                        <span class="caro-prev caro-prev-brand"></span>
                        <span class="caro-next caro-next-brand"></span>
                    </div>

                    <div class="brand-carousel owl-carousel">
                        <div class="item">
                            <a href="#" class="brand-image"><img src="images/brand-01.png" alt="image"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="brand-image"><img src="images/brand-06.png" alt="image"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="brand-image"><img src="images/brand-03.png" alt="image"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="brand-image"><img src="images/brand-04.png" alt="image"></a>
                        </div>
                        <div class="item">
                            <a href="#" class="brand-image"><img src="images/brand-05.png" alt="image"></a>
                        </div>
                   
                    </div>
                </div>
            </div><!-- /section-detail -->
</div>
</div>
</section>-->

{% endblock %}