{% extends 'base.html.twig' %}

{% block title %}Mot du Pdg - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
    <div class="section-banner" style="background-image:url({{ asset('images/about-mainimg.png') }});"></div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">MOT DU PDG</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">MOT DU PDG</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<div class="content-wrap">
    <section>
        <div class="container">
            <div class="section-heading no-padding-top">
                <h2>MOT DU PDG</h2>
                <p>Resti-tech est une société de prestations des services situé à Bépanda face Direction CAMTEL
                </p>
            </div>
            <div class="section-detail no-padding-bottom">
                <div class="tab-section">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="tab">
                                <ul class="nav nav-stacked">
                                    <li class="active"><a data-toggle="tab" href="#about" aria-expanded="true"> <span
                                                class="curve"><i class="icon-users6"></i></span> <span
                                                class="curve-text">MOT DU PDG</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="tab-content">
                                <div id="about" class="tab-pane fade in active">
                                    <h4>Mot du PDG</h4>
                                    <p>
                                        Chers internautes,

                                        Au nom du personnel de la société Restitution Technology (Resti-tech), j'éprouve
                                        le plaisir de vous accueillir sur notre site internet. Ce média de communication
                                        nous donne la possibilité de mieux répondre à vos besoins de manière instantanée
                                        et surtout, vous offre des informations réelles sur nos prestations. <br><br>

                                        L’acte de bâtir est plus qu’un savoir faire, c’est une promesse. De nos
                                        empruntes, nous marquons nos réalisations des édifices que nous vous léguons à
                                        vous et aux générations à venir. <br><br>

                                        La rigueur et le respect de cette profession sont notre crédo, c'est pourquoi le
                                        slogan de Resti-tech est : "NOTRE OBJECTIF PRINCIPAL EST VOTRE SATISFACTION".
                                        Nous oeuvrons à gagner votre confiance. <br><br> 

                                        C’est grâce à la confiance de nos clients et le travail inlassable de notre
                                        personnel, que nous poursuivrons le développement dans son ensemble. <br><br>

                                        Ce site internet est notre plateforme principale de communication avec le monde.
                                        Je vous invite donc à le visiter le plus fréquemment possible afin d’avoir les
                                        dernières mises à jour. <br><br>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-1">
                            <div class="offer-img"> <img src="images/pdg.png" class="img-responsive" alt="image">
                            </div>
                        </div>
                    </div>
                </div><!-- /tab-section -->
            </div>
        </div>
    </section>


</div><!-- /content-wrap -->
{% endblock %}