{% extends 'base.html.twig' %}

{% block title %}Stratégie Managériale - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
        <div class="section-banner" style="background-image:url({{ asset('images/about-mainimg.png') }});"></div>
      </section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">STRATEGIE MANAGERIALE</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">STRATEGIE MANAGERIALE</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-single-post">
                        <div class="post-image">
                            <img src="images/strategie.jpg" alt="image">

                        </div><!-- /post-image -->
                        <div class="blog-detail">
                            <p>
                            Elle a été développée pour :
                            <ul>
                                <li>Privilégier la qualité du service en tout temps et en tout lieux</li>
                                <li>Livrer le travail absolument dans les délais</li>
                                <li>Recruter les collaborateurs les plus compétents</li>
                                <li>Mettre à la disposition de nos techniciens les outils les plus appropriés</li>
                            </ul>
                        </p>
                      
                        </div>
                    </div><!-- /blog-single-post -->

                </div>
               
            </div>
        </div>
    </section><!-- /content-wrap -->
{% endblock %}