{% extends 'base.html.twig' %}

{% block title %}Télécommunication - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
    <div class="section-banner" style="background-image:url(images/about-mainimg.png);"></div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">Télécommunication</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">Télécommunication</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-single-post">
                    <div class="post-image">
                        <img src="{{ asset('images/services/slide_Telecomunication.png') }}" alt="image">

                    </div><!-- /post-image -->
                    <div class="blog-detail">
                        <h4>TELECOMMUNICATION</h4>



                        <p>
                            <ol>
                                <li>GSM & CDMA
                                    <ul>
                                        Construction site clés en main

                                        <li>
                                            Génie civil ;

                                        </li>
                                        <li>
                                            Montage des pylônes ;

                                        </li>
                                        <li>
                                            Radio Fréquence (RF) ;

                                        </li>
                                        <li>
                                            Faisceau Hertzien (FH) ;

                                        </li>
                                        <li>
                                            Electricité ;

                                        </li>
                                        <li>
                                            Maintenance.

                                        </li>
                                    </ul>
                                </li>
                                <li>FIBRE OPTIQUE
                                    <ul>
                                        <li>
                                            Etude de projet ;

                                        </li>
                                        <li>
                                            Elaboration de la solution ;

                                        </li>
                                        <li>
                                            Fourniture matérielle ;

                                        </li>
                                        <li>
                                            Installation chantier, Pose, Réalisation des épissures, Appareillages, Mise
                                            en service de la liaison ;

                                        </li>
                                        <li>
                                            Bilan de liaison ;

                                        </li>
                                        <li>
                                            Maintenance.

                                        </li>
                                    </ul>
                                </li>
                                <li>RESEAUX INFORMATIQUES ET AUTOCOMS
                                    <ul>
                                        <li>
                                            Etude de site (Survey) ;

                                        </li>
                                        <li>
                                            Elaboration de la solution ;

                                        </li>
                                        <li>
                                            Installation du réseau câblé ;

                                        </li>
                                        <li>
                                            Test réflectométrie ;

                                        </li>
                                        <li>
                                            Fourniture matérielle ;

                                        </li>
                                        <li>
                                            Maintenance.

                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </p>

                    </div>
                </div><!-- /blog-single-post -->

            </div>

        </div>
    </div>
</section><!-- /content-wrap -->
{% endblock %}