{% extends 'base.html.twig' %}

{% block title %}Vision - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
    <div class="section-banner" style="background-image:url(images/notre_vision.png);"></div>
</section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">NOTRE VISION</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">NOTRE VISION</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
<div class="content-wrap">
    <section>
        <div class="container">
            <div class="section-heading no-padding-top">
                <p>Resti-tech est une société de prestations des services situé à Bépanda face Direction CAMTEL
                </p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <div class=""> <img src="images/notre_vision.png" class="img-responsive" alt="image">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <div class="tab-content">
                        <div id="about" class="tab-pane fade in active">
                            <p>
                                Etant dans un monde où la technologie est devenu un élément incontournable, nous constatons que l’Afrique s’est longtemps trouvé à la traîne des investissements et capacité technologiques, bloquant par le fait même son avenir. Cette situation a longtemps fait le lit d’une consommation et d’un entreprenariat extravertis. <br> <br>
                                
                                De ce fait, au prix de notre engagement, nous pensons à "Restitution Technology" que, impossible n’est pas Camerounais encore moins Africain. <br><br>
                                
                                Le sens de responsabilité, le respect des valeurs de nos clients, le soucis de lutter contre le chômage des jeunes font de nous une entreprise dynamique doté d’un ambitieux portefeuille d’activités. <br><br>
                                
                                Nous ne nous arrêtons pas là, car nous sommes à long terme. <br> <br>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-1">
                    <div class="offer-img"> <img src="images/vision.png" class="img-responsive"
                        alt="image"> </div>
                    </div>-->
                </div>
            </div>
        </section>
        
        
    </div><!-- /content-wrap -->
    {% endblock %}